@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body{
  padding: 0;
  margin: 0;
  height: 100%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: #F2F2F2;
}

header{
  top: 0;
  margin: 0;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #F2D06B;
  background-color: #F22248;
}

h1{
  font-size: 40px;
}

header p, #sentence{
  font-size: 20px;
}

.sentence-displayer{
  padding: 30px 100px;
  display: flex;
  justify-content: space-around;
}

.sentence-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  text-align: left;
}

.button-container{
  width: 30%;
}

select{
  width: 100px;
  height: 30px;
}

select, option{
  font-family: 'Poppins', sans-serif;
}

button{
  margin: 10px;
  padding: 10px;
  width: 200px;
  color: #F2D06B;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  border: 0;
  border-radius: 10px;
  background-color: #F22248;
  cursor: pointer;
  outline:none;
}

button:hover{
  color: #F22248;
  background-color: #F2D06B;
}

button:disabled{
  cursor: auto;
  color: black;
  background-color: grey;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 15px;
}
